@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap')
</style>
font-family: "Nabla", system-ui;

img{
font-size: 50px;
display: block;


}
body{
background-color: chocolate;
}
h1{
color: chartreuse;
}
#dias_restantes{

}